@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "Role Management";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Role Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
                <tr>
                    <td>@role.Name</td>
                    <td>
                        <form asp-action="Delete" asp-route-roleName="@role.Name" method="post">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn custom-button w-100">Create New Role</a>
