html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.Crossing{
    color: orange !important;
}

.Stop {
    color: blue !important;
}

.Precedence {
    color: red !important;
}

.Sidewalk {
    color: green !important;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.fixed-alert {
    position: fixed;
    top: 20px;
    width: 93%;
    margin-left: 0;
    z-index: 1050; /* Abbastanza alto da stare sopra gli altri elementi */
    opacity: 0.95; /* Leggera trasparenza */
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 30rem;
}

.custom-button {
    background-color: #4fb3bf !important;
    color: white;
}

.text-left-custom {
    text-align: left;
}