@inject SignInManager<IdentityUser> SignInManager

<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @(ManageNavPages.IndexNavClass(ViewContext) != null? "custom-button" : "")" id="profile" asp-page="./Index">Profile</a></li>
    <li class="nav-item"><a class="nav-link @(ManageNavPages.EmailNavClass(ViewContext) != null? "custom-button" : "")" id="email" asp-page="./Email">Email</a></li>
    <li class="nav-item"><a class="nav-link @(ManageNavPages.ChangePasswordNavClass(ViewContext) != null? "custom-button" : "")" id="change-password" asp-page="./ChangePassword">Password</a></li>
</ul>
